@charset "UTF-8";

:root {
  --link-color: #349bf4;
  --main-color: #dd1b57;
  --text-color: #333;
}

/*-------------------------------- 全体 ---------------------------------*/

body {
    font-family: "Roboto", "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN","Hiragino Sans", Meiryo, sans-serif;
    font-size: 16px;
    color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*-------------------------------- レイアウト ---------------------------------*/
.wrapper {
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.content {
  display: grid;
  padding: 60px 0 100px;
  row-gap: 80px;
}

/*-------------------------------- 見出し ---------------------------------*/
.heading-primary {
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.05em;
    color: var(--main-color);
}

/*-------------------------------- テーブル ---------------------------------*/

/*-------------------------------- ヘッダー ---------------------------------*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 30px 70px;
}

.header__logo {
  line-height: 1;
}

/*-------------------------------- グローバルナビ ---------------------------------*/
.gnav__list {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
.gnav__item {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05em;
}
.gnav__link {
  color: var(--text-color);
  text-decoration: none;
}
.gnav__link:hover {
  color: var(--text-color);
}
.gnav__link--active {
  color: var(--main-color);
}
.btn-menu {
  display: none;
}
/*-------------------------------- メインビジュアル ---------------------------------*/
.mv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-image: url(img/pc_mv.jpg);
    
    
    
    
}
.toppage-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.toppage-title {
    font-size: 160px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
}
.toppage-text {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    margin-top: 10px;
}

/*-- トップページニュース --*/
.news {
    margin-top: 60px;
    display: flex;
}
.news__list {
    font-size: 15px;
}
.list-item {
    display: flex;
    border-bottom: #E8E8E8 solid 1px;
    padding-bottom: 15px;
    margin-left: 90px;
}
.list-item__title {
    font-size: 15px;
    line-height: 1.8;
    font-weight: normal;
    margin-right: 20px;
}
.list-item__text {
    width: 89%;
    line-height: 1.8;
}

/*-- トップページサービス --*/
.service {
    margin-top: 90px;
}
.service__heading {
    border: red solid 1px;
    position: relative;
    margin-bottom: 50px;
}
.service__heading::before {
    display: block;
    content: "SERVICE";
    position: absolute;
    top: -40px;
    right: -20px;
    z-index: -1;
    border: blue solid 1px;
    font-size: 168px;
    font-weight: bold;
    color: #f2f2f2;
    line-height: 1;
}
.service__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}
.service-list__item {
    padding: 50px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 3px 21px rgba(0,0,0,0.16);
}

.material-icons-round.md-48 {
    font-size: 48px;
    color: #DD1B57;
    vertical-align: bottom;
}

.service-list__title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.service-list__text {
    font-size: 14px;
    line-height: 1.7;
    margin-top: 15px;
}

/*-- フッター --*/
.footer {
    height: 158px;
    background-color: #DD1B57;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.footer__nav {
    display: flex;
    margin-bottom: 20px;
}
.footer__nav-item {
    margin-right: 6px;
}
.footer__copy {
    font-size: 12px;
}